/* ---------- HOME ---------- */    
.nav-link {
    text-decoration: none;
    border-bottom: 1px solid #323793;
    padding-bottom: 8px;
    line-height: 1.5;
}

.nav-link:hover {
    color: #0ce2ea;
}

#sConteiner {
    width: 60%;
    height: 480px;
    border: 1px solid #323793;
    margin: 50px auto;
}

.card {
    display: flex;
    border: none;
    color: #c4c4c4;
}

.card-title {
    text-align: center;
}

.card-text {
    margin: 20px 0px 0px 0px;
    font-size: 20px;
    text-align: start;
}

.card-body h1 {
    text-align: center;
    font-size: 18px;
    position: relative;
    right: 11%;
}

.card-body p {
    margin: 80px 0px 0px 12px;
}

.lexend {
    font-family: 'Lexend Deca', sans-serif;
}

.bebasNeue {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.azulClarinho {
    color: #4688b5;
}

/* ---------- SERVIÇOS ---------- */
#sServicos {
    width: 90%;
    height: 500px;
    border: 1px solid #323793;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.cxServico {
    width: 20%;
    height: 400px;
    border: 1px solid white;
    margin: 40px 0px 0px 0px;
}
.cxServico h5{
    text-align: center;
    position: relative;
    top: 5%;
    text-decoration: underline;
    color: #323793;
}
.cxServico .textos{
    width: 90%;
    height: 80%;
    position: relative;
    top: 8%;
    border: 1px solid transparent;
    margin: 0px auto;
    color: #4688b5;
}
.cxServico .textos .lexend{
    text-align: center;
    font-size: 20px;
    color: white;
    position: relative;
    top: 8%;
}
/* ---------- CURRÍCULO ---------- */
#sCurriculo{
    width: 90%;
    height: 2000px;
    border: 1px solid #323793;
    margin: 50px auto;
}
.cxInf{
    width: 30%;
    height: 160px;
    border: transparent solid 1px;
    margin: 20px auto;
}
.cxInf h5{
    text-align: center;
}
.cxObj{
    width: 90%;
    height: 60px;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 3%;
}
.cxHab{
    width: 90%;
    height: 880px;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 5%;
}
.cxExp{
    width: 90%;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 7%;
}
.cxEdc{
    width: 90%;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 9%;
}
.cxCur{
    width: 90%;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 11%;
}
.cxIdi{
    width: 90%;
    border: 1px solid transparent;
    position: relative;
    left: 3%;
    top: 13%;
}

/* ---------- CONTATO ----------  */
#sContato {
    width: 90%;
    height: 550px;
    border: 1px solid #323793;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cxForm {
    width: 30%;
    height: 450px;
    position: relative;
    border: 1px solid transparent;
    top: 5%;
    left: 35%;
    border: 0.2px solid #f5f5f574;
}

.cxForm input {
    position: relative;
    left: 50%;
    top: 80%;
}

.cxForm button {
    position: relative;
    top: 250%;
    right: 68%;
}

.cxContato {
    width: 17%;
    height: 90px;
    margin: 80px auto;
    border: transparent 1px solid;
    position: relative;
    right: 1%;
    top: 10%;
}

.cxContato a {
    margin: 0px 10px 0px 0px;
}